<% content_for :title, t("collections.editing") %>
<main class="background">
  <div class="blur">
    <%= render "shared/header" %>
    <h2><%= t("collections.new") %></h2>
    <div class="panel form">
      <%= render "form", collection: @collection %>
      <div class="actions">
        <%= link_to t("collections.show"), @collection %>
        <%= link_to t("collections.back"), collections_path %>
      </div>
    </div>
  </div>
</main>