<main class="background">
  <% content_for :title, t("activerecord.models.collection").pluralize %>
  <div class="blur">
    <%= render "shared/header" %>
    <h2><%= t("activerecord.models.collection").pluralize %></h2>
    <div class="collections">
      <%= link_to t("collections.new"), new_collection_path, class: "btn pumpkin" %>
      <div id="collections">
        <% @collections.each do |collection| %>
          <div class="card collection">
            <%= render collection %>
            <%= link_to t("collections.show"), collection %>
          </div>
        <% end %>
      </div>
      <%= link_to t("home.back"), root_path, class: "btn mustard btn-text-black" %>
    </div>
  </div>
</main>
