<main class="background">
  <% content_for :title, t("collections.new") %>
  <div class="blur">
    <%= render 'shared/header' %>
    <div class="panel form">
      <h2><%= t("collections.new") %></h2>
      <%= render "form", collection: @collection %>
      <div class="actions">
        <%= link_to t("collections.show_all"), collections_path %>
        <%= link_to t("home.back"), root_path %>
      </div>
    </div>
  </div>
</main>
