<main class="background">
  <% content_for :title, t("groupings.editing") %>
  <div class="blur">
    <%= render "shared/header" %>
    <h2><%= t "groupings.editing" %></h2>
    <div class="panel form">
      <%= render "form", grouping: @grouping %>
      <div class="actions">
        <%= link_to t("groupings.show"), @grouping %>
        <%= link_to t("groupings.back"), groupings_path %>
      </div>
    </div>
  </div>
</main>