<h3>
  <%= participant.first_name %> <%= participant.last_name %>
</h3>
<div id="<%= dom_id participant %>" class="attributes">
  <div class="participant attribute">
    <span>
      <strong><%= "#{t 'activerecord.attributes.user/participant.birth_date'}:" %></strong>
    </span>
    <p>
      <%= l(participant.birth_date) %>
    </p>
  </div>
  <div class="participant attribute">
    <strong><%= "#{t('activerecord.models.group')}:" %></strong>
    <table>
      <thead>
        <tr>
          <th><%= t "helpers.label.group.id" %></th>
          <th colspan="2"><%= t "helpers.label.group.name" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="id-cell">
            <%= participant.group.id %>
          </td>
          <td class="name-cell">
            <%= participant.group.name %>
          </td>
          <td class="link-cell">
            <%= link_to t("groups.show"), participant.group, class: "text-xs" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to t("participants.edit"), edit_participant_path(participant), class: "btn btn-small lavender" %>
</div>
