<main class="background">
  <% content_for :title, t("activerecord.models.user/participant").pluralize %>
  <div class="blur">
    <%= render 'shared/header' %>
    <h2><%= t("activerecord.models.user/participant").pluralize %></h2>
    <div class="participants">
      <%= link_to t("participants.new"), new_participant_path, class: "btn pumpkin" %>
      <div id="participants">
        <% @user_participants.each do |participant| %>
          <div class="card participant">
            <%= render participant %>
            <%= link_to t("participants.show"), participant %>
          </div>
        <% end %>
      </div>
      <%= link_to t("home.back"), root_path, class: "btn mustard btn-text-black" %>
    </div>
  </div>
</main>
