<h3>
  <%= group.name %>
</h3>
<div id="<%= dom_id group %>">
  <table>
    <thead>
      <tr>
        <th colspan="4">
          <strong>
            <%= t("activerecord.models.user/participant").pluralize %>
          </strong>
        </th>
      </tr>
      <tr>
        <th><%= t "helpers.label.user_participant.id" %></th>
        <th><%= t "helpers.label.user_participant.full_name" %></th>
        <th><%= t "helpers.label.user_participant.birth_date" %></th>
        <th><%= t "participants.show" %></th>
      </tr>
    </thead>
    <tbody>
      <% group.user_participants.each do |participant| %>
        <tr>
          <td>
            <%= participant.id %>
          </td>
          <td>
            <%= "#{participant.first_name} #{participant.last_name}" %>
          </td>
          <td>
            <%= participant.birth_date %>
          </td>
          <td>
            <%= link_to t("participants.show"), participant, class: "text-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          <%= link_to t("participants.new"), new_user_participant_path(group_id: group.id), class: "btn btn-small text-s pumpkin" %>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
