<main class="background">
  <% content_for :title, t("groups.editing") %>
  <div class="blur">
    <%= render "shared/header" %>
    <h2><%= t "groups.editing" %></h2>
    <div class="panel form">
      <%= render "form", group: @group %>
      <div class="actions">
        <%= link_to t("groups.show"), @group %>
        <%= link_to t("groups.back"), groups_path %>
      </div>
    </div>
  </div>
</main>