<main class="background">
  <div class="blur">
    <%= render 'shared/header' %>
    <div class="panel form">
      <% content_for :title, "Editing group" %>
      <h2><%= t "groups.editing" %></h2>
      <%= render "form", group: @group %>
      <div class="actions">
        <%= link_to t("groups.show"), @group %>
        <%= link_to t("groups.back"), groups_path %>
      </div>
    </div>
  </div>
</main>