<main class="background">
  <% content_for :title, t("activerecord.models.group").pluralize %>
  <div class="blur">
    <%= render 'shared/header' %>
    <h2><%= t("activerecord.models.group").pluralize %></h2>
    <div class="groups">
      <%= link_to t("groups.new"), new_group_path, class: "btn pumpkin" %>
      <div id="groups">
        <% @groups.each do |group| %>
          <div class="card group">
            <%= render group %>
            <%= link_to t("groups.show"), group %>
          </div>
        <% end %>
      </div>
      <%= link_to t("home.back"), root_path, class: "btn mustard btn-text-black" %>
    </div>
  </div>
</main>
