<main class="background">
  <% content_for :title, t("groups.new") %>
  <div class="blur">
    <%= render 'shared/header' %>
    <h2><%= t "groups.new" %></h2>
    <div class="panel form">
      <%= render "form", group: @group %>
      <div class="actions">
        <%= link_to t("groups.show_all"), groups_path %>
        <%= link_to t("home.back"), root_path %>
      </div>
    </div>
  </div>
</main>
