<div id="<%= dom_id answer %>">
  <p>
    <strong>User participant:</strong>
    <%= answer.user_participant_id %>
  </p>

  <p>
    <strong>Equation:</strong>
    <%= answer.equation_id %>
  </p>

  <p>
    <strong>Answer value:</strong>
    <%= answer.answer_value %>
  </p>

  <p>
    <strong>Correct answer:</strong>
    <%= answer.correct_answer %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= answer.time %>
  </p>

</div>
