<% content_for :title, t("activerecord.models.answer").pluralize %>
<main class="background">
  <div class="blur">
    <%= render "shared/header" %>
    <h2><%= t("activerecord.models.answer").pluralize %></h2>
    <div class="answers">
      <div id="answers">
        <% @answers.each do |answer| %>
          <div class="card answer">
            <%= render answer %>
            <p>
              <%= link_to t("answers.show"), answer %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to t("home.back"), root_path, class: "btn mustard btn-text-black" %>
  </div>
</main>
