<main class="background">
  <div class="blur">
    <%= render "shared/header" %>
    <div class="panel answer">
      <%= render @answer %>
      <div class="actions">
        <%= link_to t("answer.edit"), edit_answer_path(@answer) %> |
        <%= link_to t("answer.back"), answers_path %>
        <%= button_to t("answer.delete"), @answer, class: "btn crimson", method: :delete, data: { turbo_method: :delete } %>
      </div>
    </div>
  </div>
</main>
